xbee-test-flow.json
[{"type":"tab","id":"58d52a76.5e95b4","label":"Xbee-API example flow"},{"id":"9a8d9d01.65726","type":"serial-port","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"12","bin":null,"out":null,"addchar":"false"},{"id":"7dc4eff4.5b7d1","type":"xbee-api in","name":"","serial":"9a8d9d01.65726","x":269,"y":126,"z":"58d52a76.5e95b4","wires":[["a795d605.cb6c6"]]},{"id":"a795d605.cb6c6","type":"debug","name":"","active":true,"console":"false","complete":"false","x":560,"y":121,"z":"58d52a76.5e95b4","wires":[]},{"id":"ce3bed74.171c9","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":308,"y":334,"z":"58d52a76.5e95b4","wires":[["97923125.b212d"]]},{"id":"97923125.b212d","type":"function","name":"Define xbee packet","func":"// See Xbee-API docs for API definitions\nmsg.payload = { \n\t\t\t\t// Set type to string containing frame_type\n\t\t\t\ttype: \"REMOTE_AT_COMMAND_REQUEST\",\n\t\t  \t\tcommand: \"D0\",\n\t\t  \t\tdestination64: \"0013A2004052989C\",\n    \t\t\tremoteCommandOptions: 0x02, \n\t\t  \t\tcommandParameter: [ ]\n\t\t}; \nreturn msg;","outputs":1,"x":475,"y":312,"z":"58d52a76.5e95b4","wires":[["474b2ca0.f2328c"]]},{"id":"474b2ca0.f2328c","type":"xbee-api out","name":"","serial":"9a8d9d01.65726","destination64":"","x":693,"y":275,"z":"58d52a76.5e95b4","wires":[]}]
